<main>
  <div class="sidebar">
      <h2>Categorías</h2>
    <ul>
      <li>
        <a routerLink="/desayuno" routerLinkActive="active">
          <img src="../../../assets/images/desayuno-icon.png" alt="Desayuno Icon">
          <span>Desayuno</span>
        </a>
      </li>
      <li>
        <a routerLink="/almuerzo" routerLinkActive="active">
          <img src="../../../assets/images/almuerzo-icon.png" alt="Almuerzo Icon">
          <span>Almuerzo</span>
        </a>
      </li>
      <li>
        <a routerLink="/cena" routerLinkActive="active">
          <img src="../../../assets/images/cena-icon.png" alt="Cena Icon">
          <span>Cena</span>
        </a>
      </li>
      <li>
        <a routerLink="/postres" routerLinkActive="active">
          <img src="../../../assets/images/postres-icon.png" alt="Postres Icon">
          <span>Postres</span>
        </a>
      </li>
      <li>
        <a routerLink="/superavit" routerLinkActive="active">
          <img src="../../../assets/images/superavit-icon.png" alt="Superávit Icon">
          <span>Superávit</span>
        </a>
      </li>
      <li>
        <a routerLink="/deficit" routerLinkActive="active">
          <img src="../../../assets/images/deficit-icon.png" alt="Déficit Icon">
          <span>Déficit</span>
        </a>
      </li>
    </ul>
  </div>

</main>
