<main>
  <div class="formulario-container">
    <div class="formulario-card">

      <h2>Ingresa a la Gran Comunidad <br> Saludable de FoodHub</h2>
      <p>Ingresa tus datos registrados</p>

      <form>
        <label for="identificador" [class.error]="errorIdentificador">Correo Electrónico o Código de Colegiado: *</label>
        <input type="text" placeholder="abc@example.com/012345" id="identificador" name="identificador" required [(ngModel)]="authDTO.identificador">

        <label for="contrasenia" [class.error]="errorContrasenia">Contraseña: *</label>
        <input type="password" placeholder="*********" id="contrasenia" name="contrasenia" required [(ngModel)]="authDTO.contrasenia">

        <button (click)="iniciarSesion()" type="submit">Ingresar</button>

        <p class="obligatorio-texto">* Todos los campos son obligatorios y deben ser llenados.</p>
        <p *ngIf="errorRegistro" class="error-message">{{ mensajeError }}</p>


        <div class="separador"></div>

        <p>Si aún no tienes una cuenta, entonces ¡Crea una!</p>

        <button routerLink="/cocinaTuCuenta" class="boton2">¡Cocina tu Cuenta!</button>

      </form>

    </div>
  </div>
</main>
